{% load static %}

<nav class="navbar navbar-expand-lg py-3">

    <div class="container">

        <a class="navbar-brand d-flex align-items-center" href="/">
            <img src="{% static 'img/logo.png' %}" alt="YourSideANime" height="65">
            <span class="ms-2 fw-bold">YourSideAnime</span>
        </a>

        <form class="d-flex mx-auto w-50" method="GET" action="{% url 'animes:buscar' %}">
            <input class="form-control me-2" type="search" name="q" placeholder="Buscar anime..." aria-label="Buscar">
            <button class="btn btn-outline-light" type="submit">Buscar</button>
        </form>


        <div class="dropdown">

            <a class="d-flex align-items-center text-white dropdown-toggle" href="#" role="button"
               data-bs-toggle="dropdown" aria-expanded="false">

                <img src="{% if request.user.avatar %}{{ request.user.avatar.url }}{% else %}{% static 'img/default_avatar.png' %}{% endif %}"
                 alt="Perfil"
                 height="35"
                 class="avatar-nav">

            </a>

            <ul class="dropdown-menu dropdown-menu-end bg-dark border-secondary">

                <li>
                    <a class="dropdown-item text-white" href="{% url 'users:profile' %}">Mi Perfil</a>
                </li>

                <li>
                    <a class="dropdown-item text-white" href="{% url 'animes:viendo' %}">Viendo</a>
                </li>

                <li>
                    <a class="dropdown-item text-white" href="{% url 'animes:vistos' %}">Vistos</a>
                </li>

                <li>
                    <a class="dropdown-item text-white" href="{% url 'animes:dropeados' %}">Dropeados</a>
                </li>

                <li>
                    <a class="dropdown-item text-white" href="{% url 'animes:whitelist' %}">Whitelist</a>
                </li>

                <li><hr class="dropdown-divider border-secondary"></li>

                <li>
                    <form action="{% url 'users:logout' %}" method="post">
                        {% csrf_token %}
                        <button type="submit" class="dropdown-item text-danger">Cerrar sesión</button>
                    </form>
                </li>

            </ul>

        </div>

    </div>
</nav>


