{% extends "base_auth.html" %}

{% block title %}Registro · YourSideAnime{% endblock %}

{% block content %}

<h2 class="mb-4 text-center">Crear cuenta</h2>

<form method="POST" class="mx-auto" style="max-width: 400px;">
    {% csrf_token %}

    {% if form.errors %}
        <div class="alert alert-danger">
            <ul>
                {% for field in form %}
                    {% for error in field.errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                {% endfor %}
                {% for error in form.non_field_errors %}
                    <li>{{ error }}</li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}


    <div class="mb-3">
        <label class="form-label">Usuario</label>
        {{ form.username }}
    </div>

    <div class="mb-3">
        <label class="form-label">Correo</label>
        {{ form.email }}
    </div>

    <div class="mb-3">
        <label class="form-label">Contraseña</label>
        <div class="input-group">
            <input type="password" name="password1" id="password1" class="form-control" placeholder="Contraseña">
            <button class="btn btn-outline-secondary" type="button" onclick="togglePassword('password1', this)">
                <i class="bi bi-eye"></i>
            </button>
        </div>
    </div>

    <div class="mb-3">
        <label class="form-label">Repetir Contraseña</label>
        <div class="input-group">
            <input type="password" name="password2" id="password2" class="form-control" placeholder="Repetir Contraseña">
            <button class="btn btn-outline-secondary" type="button" onclick="togglePassword('password2', this)">
                <i class="bi bi-eye"></i>
            </button>
        </div>
    </div>

    <button class="btn btn-success w-100 mt-3">Registrarse</button>

    <p class="text-center mt-3">
        ¿Ya tienes cuenta?
        <a href="{% url 'users:login' %}">Inicia sesión</a>
    </p>
</form>

<script>
    function togglePassword(inputId, btn) {
        const input = document.getElementById(inputId);
        const icon = btn.querySelector('i');
        if (input.type === 'password') {
            input.type = 'text';
            icon.classList.replace('bi-eye', 'bi-eye-slash');
        } else {
            input.type = 'password';
            icon.classList.replace('bi-eye-slash', 'bi-eye')
        }
    }
</script>
{% endblock %}
