{% load static %}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{% block title %}YourSideAnime{% endblock %}</title>

    <link rel="icon" type="image/png" href="{% static 'img/logo.png' %}">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.css">

    <link rel="stylesheet" href="{% static 'css/style.css' %}">

    <script>
        (function() {
            const tema = localStorage.getItem("theme") || "dark";
            const esOscuro = tema === "dark";

            document.body.classList.remove("dark-mode", "light-mode");
            document.body.classList.add(esOscuro ? "dark-mode" : "light-mode");
        })();

    </script>
</head>

<body>

    <header class="d-none d-md-block">
        {% include 'components/navbar.html' %}
    </header>

    <header class="d-block d-md-none">
        {% include 'components/mobile_nav.html' %}
    </header>

    <main class="container py-4">
        {% block content %}
        {% endblock %}
    </main>

    <footer class="mt-5">
        {% include 'components/footer.html' %}
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>

    <script>
        function CambioTema() {
            const esOscuro = document.body.classList.contains("dark-mode");
            document.body.classList.remove("dark-mode", "light-mode");
            document.body.classList.add(esOscuro ? "light-mode" : "dark-mode")

            localStorage.setItem("theme", esOscuro ? "light" : "dark");

            document.querySelectorAll(".icono-tema").forEach(icono => {
                icono.classList.remove("bi-sun-fill", "bi-moon-fill");
                icono.classList.add(esOscuro ? "bi-moon-fill" : "bi-sun-fill");
            });
        }

        document.addEventListener("DOMContentLoaded", () => {
            const tema = localStorage.getItem("theme") || "dark";
            const esOscuro = tema === "dark";

            document.body.classList.remove("dark-mode", "light-mode");
            document.body.classList.add(esOscuro ? "dark-mode" : "light-mode");

            document.querySelectorAll(".icono-tema").forEach(icono => {
                icono.classList.remove("bi-sun-fill", "bi-moon-fill");
                icono.classList.add(esOscuro ? "bi-sun-fill" : "bi-moon-fill");
            });
        });
    </script>

    {% block scripts %}
    {% endblock %}
</body>
</html>
